altgraph==0.17.5
click==8.2.1
colorama==0.4.6
decompyle3==3.9.2
dnspython==2.8.0
editorconfig==0.17.1
frida==17.9.1
iniconfig==2.3.0
jsbeautifier==1.15.4
packaging==26.2
pefile==2024.8.26
pluggy==1.6.0
protobuf==7.34.1
psutil==7.2.2
pycryptodome==3.23.0
pygments==2.20.0
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.4
pyside6==6.11.0
pyside6-addons==6.11.0
pyside6-essentials==6.11.0
pytest==9.0.3
pywin32==311
pywin32-ctypes==0.2.3
shiboken6==6.11.0
six==1.17.0
spark-parser==1.8.9
websockets==16.0
xdis==6.1.4
